# --- Core Bot Framework ---
pyrofork==2.3.45
tgcrypto

# --- Database & ORM ---
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
python-decouple
python-dotenv

# --- Networking & Requests ---
aiohttp==3.9.5
aiofiles==24.1.0
requests
bs4
shortzy
pytz
ujson
wget
dnspython
async-timeout==4.0.3

# --- Media & File Handling ---
Pillow==9.4.0
ffmpeg-python>=0.2.0
imageio-ffmpeg>=0.4.10
hachoir
pikepdf
rarfile
pyzipper
opencv-python-headless
filetype

# --- Installs FFmpeg/FFprobe ---
static-ffmpeg

# --- YouTube / Downloader Tools ---
yt-dlp
youtube-search-python
youtube_search
ytthumb
PyLeaves

# --- Audio / Speech ---
edge-tts
speedtest-cli

# --- Utilities / Extras ---
jinja2
apscheduler
pyshorteners
colorama
NumPy
wheel
humanize
psutil
google-generativeai>=0.8.3

# --- Pyrogram Mods / Plugins ---
pyromod
git+https://github.com/Joelkb/cinemagoer







